html {
	font-family: tahoma;
	border-width: 10px;
	padding: 40px;
    background-color: #fcfcfc;
    border-style: solid;
    border-width: 10px;
    border-color: #36424a;

}

body {
	border-width: 10px;

}

img {
	width: 100%;

}

h1 {
	color: #36424a;
}

p {
	color: #36424a;
}

h2 {
	color: #36424a;
}

h2 {
	color: #36424a;
}

li {
	color: #36424a;
}
